# Python bytecode files
__pycache__/
*.py[cod]

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
ENV/
.env/

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Database files
db.sqlite3

# Log files
*.log

# Static files
/static/
*.static/

# Media files
/media/

# IDE specific files
.idea/
*.swp

# PyCharm specific files
*.iml
*.ipr
*.iws

# Jupyter Notebook files
.ipynb_checkpoints

# Pytest cache
.cache/
.pytest_cache/

# Other files to ignore
*.DS_Store  # macOS specific
*.pid  # PID files
*.coverage  # Coverage files
*.egg-info/  # Egg info
dist/
build/
*.egg
*.egg-info/
pip-log.txt

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
