<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Listing</title>
</head>
<body>
    <h1>Category Listing</h1>
    <ul>
        {% for category in category_names %}
            <li>
                <a href="{% url 'product_listing' category.id %}">{{ category.category_name }}</a>
                 - {{ category.products_quantity }} products
            </li>
        {% endfor %}
    </ul>
</body>
</html>
